body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: normal; }

a {
  text-decoration: none;
  color: black; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 125%; }

#wrapper {
  display: none; }

#poitrait_cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.9); }
  #poitrait_cover #go_away {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    color: white; }
    #poitrait_cover #go_away h1 {
      font-size: 16pt;
      margin-bottom: 20px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1920px) and (orientation: landscape) {
  #poitrait_cover {
    display: none; }

  #wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }

  #canvas_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998; }

  aside {
    width: 5.37%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%; }

  nav {
    width: 40.67%;
    padding-left: 5.37%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    z-index: -10;
    height: 100%; }

  section {
    position: absolute;
    top: 0;
    left: 0;
    width: 94.63%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: 5.37%;
    transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out; }
    section #main_content_container {
      width: 66%;
      float: left;
      height: 100%; }
    section #yearbook {
      width: 34%;
      float: right;
      height: 100%; }

  #loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    opacity: 0.7;
    color: black;
    z-index: 999;
    height: 100%; }
    #loading #loading_head {
      margin-top: 10%;
      height: 50%;
      text-align: center;
      width: 100%;
      float: left; }
      #loading #loading_head img {
        height: 100%; }
    #loading #loading_text {
      width: 100%;
      float: left;
      margin-top: 5%; }
      #loading #loading_text h1 {
        font-size: 13pt;
        width: 100%;
        float: left;
        text-align: center; }

  img.loading-bg {
    background: whitesmoke url("../imgs/loading_style1.gif") no-repeat center center; }

  img.rounded {
    border-radius: 50%; }

  #canvas_container {
    display: none; }
    #canvas_container canvas {
      position: absolute;
      top: 0;
      left: 0;
      background: url("../imgs/fabric_of_squares_gray.png"); }
    #canvas_container ul {
      position: absolute;
      background: #212121 url("../imgs/canvas-brdr-lft.jpg") repeat-y left;
      top: 0;
      width: 10%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      right: 0; }
      #canvas_container ul li {
        width: 100%;
        float: left;
        text-align: center;
        font-weight: bold;
        font-family: "Noto Sans", sans-serif;
        color: #333;
        display: block;
        -webkit-appearance: none;
        height: 38px;
        line-height: 38px;
        text-align: center; }
        #canvas_container ul li img {
          vertical-align: middle; }
      #canvas_container ul li#fat_brush {
        margin-top: 44px;
        text-align: right;
        margin-bottom: 12px; }
        #canvas_container ul li#fat_brush img {
          width: 90%; }
      #canvas_container ul li#normal_brush {
        text-align: right;
        margin-bottom: 12px; }
        #canvas_container ul li#normal_brush img {
          width: 90%; }
      #canvas_container ul li#skinny_brush {
        text-align: right;
        margin-bottom: 40px; }
        #canvas_container ul li#skinny_brush img {
          width: 90%; }
      #canvas_container ul li#colorPicker {
        text-align: center;
        margin-bottom: 40px; }
      #canvas_container ul li#eraser {
        margin-bottom: 12px; }
        #canvas_container ul li#eraser img {
          height: 90%; }
      #canvas_container ul li#undo {
        margin-bottom: 12px; }
        #canvas_container ul li#undo img {
          height: 95%; }
      #canvas_container ul li#clear {
        margin-bottom: 40px; }
        #canvas_container ul li#clear img {
          height: 95%; }
      #canvas_container ul li#saveCanvas {
        margin-bottom: 20px;
        height: 50px;
        line-height: 50px; }
        #canvas_container ul li#saveCanvas img {
          height: 95%; }
      #canvas_container ul li#cancleCanvas {
        height: 50px;
        line-height: 50px; }
        #canvas_container ul li#cancleCanvas img {
          height: 95%; }

  aside {
    background: #efefef; }
    aside ul {
      width: 100%;
      float: left; }
      aside ul li {
        width: 100%;
        border-top: 1px solid silver;
        border-bottom: 1px solid silver;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        float: left; }
        aside ul li img {
          width: 100%;
          float: left; }
        aside ul li #facilityBtn, aside ul li #galleryBtn {
          display: none; }
      aside ul #logoBtn {
        margin-top: 50px;
        background: #ccc; }
      aside ul #studentBtn {
        margin-top: 125%; }
      aside ul #infoBtn {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 9%;
        text-align: center; }
        aside ul #infoBtn img {
          margin-top: 10%;
          width: 100%;
          margin-left: 0%;
          vertical-align: middle; }

  nav {
    background: #eaeaea;
    /* Old browsers */
    background: -moz-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(94%, #c9c9c9), color-stop(100%, #aaaaaa));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#aaaaaa',GradientType=0 );
    /* IE6-9 */ }
    nav #nav_container {
      width: 100%;
      float: left;
      padding: 50px 2.5% 25px 4%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      nav #nav_container #nav_top {
        margin-bottom: 25px;
        width: 100%;
        float: left; }
        nav #nav_container #nav_top li {
          width: 14.285%;
          float: left;
          overflow: hidden;
          list-style: none;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
          nav #nav_container #nav_top li .nav_top_item .nav_top_icon {
            width: 33%;
            float: left;
            border-radius: 5%; }
            nav #nav_container #nav_top li .nav_top_item .nav_top_icon img {
              width: 100%;
              vertical-align: middle;
              margin-right: 3%; }
          nav #nav_container #nav_top li .nav_top_item p {
            width: 63%;
            float: right;
            text-align: left;
            color: #666;
            text-transform: uppercase;
            font-size: 10pt;
            font-weight: bold;
            font-family: "Noto Sans", sans-serif;
            line-height: 55px; }
      nav #nav_container .black_line {
        height: 5px;
        width: 100%;
        float: left;
        padding: 10px 0; }
        nav #nav_container .black_line .black_stroke {
          height: 5px;
          width: 100%;
          float: left;
          background: #333; }
      nav #nav_container #nav_main {
        width: 100%;
        float: left;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
        nav #nav_container #nav_main li {
          width: 100%;
          float: left;
          position: relative;
          opacity: 1;
          margin-bottom: 5px;
          cursor: pointer;
          padding: 2% 0;
          transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          color: #555;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 0px; }
          nav #nav_container #nav_main li:hover {
            background: rgba(255, 255, 255, 0.4);
            color: #222; }
          nav #nav_container #nav_main li p {
            font-size: 12pt;
            letter-spacing: -1px;
            float: left;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin-top: 3%;
            padding-left: 2%;
            font-weight: bold;
            font-family: "Noto Sans", sans-serif; }
            nav #nav_container #nav_main li p small {
              font-size: 7pt;
              font-weight: normal;
              display: block;
              color: #777;
              letter-spacing: 1px; }
          nav #nav_container #nav_main li img {
            float: left;
            height: 50px;
            margin-left: 2%;
            border-radius: 50%;
            -webkit-box-shadow: 0px 0px 5px 0px #cccccc;
            /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
            box-shadow: 0px 0px 5px 0px #cccccc;
            /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */ }

  section {
    background: whitesmoke; }
    section #landing {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background: white; }
    section #info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 98;
      background: gray;
      display: none; }
      section #info #info-wrapper {
        width: 100%;
        height: 100%; }
        section #info #info-wrapper #info-container {
          width: 100%;
          height: 100%;
          overflow: hidden;
          text-align: center; }
          section #info #info-wrapper #info-container img {
            height: 100%; }
    section #yearbook {
      background: url(../imgs/dvsup.png);
      z-index: 997;
      color: #747474;
      padding: 20px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      section #yearbook #yearbook_header {
        width: 100%;
        float: left;
        position: relative;
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
        padding-bottom: 30px;
        border-bottom: 1px whitesmoke solid; }
        section #yearbook #yearbook_header div#signBtn {
          height: 60px;
          background: url(../imgs/dvsup.png);
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          text-align: center;
          width: 100%;
          float: left;
          font-weight: bold;
          font-family: "Noto Sans", sans-serif;
          color: #262626; }
          section #yearbook #yearbook_header div#signBtn img {
            height: 100%; }
      section #yearbook #yearbook_main {
        width: 100%;
        float: left;
        height: 90%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; }
        section #yearbook #yearbook_main ul {
          width: 100%;
          float: left; }
          section #yearbook #yearbook_main ul li {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            background: url("../imgs/fabric_of_squares_gray.png");
            float: left;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-shadow: 3px 3px 7px #686868;
            overflow: hidden;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px; }
            section #yearbook #yearbook_main ul li img {
              width: 100%; }
    section #main_content_header {
      width: 100%;
      float: left;
      height: 27%;
      background: url("../imgs/loading_style1.gif") no-repeat center center; }
      section #main_content_header #main_content_cover {
        height: 100%;
        float: left;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-image: url("../imgs/SW-blank.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
    section #main_content {
      width: 100%;
      float: left;
      height: 64%;
      background: whitesmoke; }
      section #main_content #pose {
        width: 50%;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        height: 100%; }
        section #main_content #pose img {
          width: 100%;
          position: absolute;
          bottom: 0;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
          section #main_content #pose img:first-child {
            opacity: 0; }
      section #main_content #slider {
        width: 50%;
        float: right;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
        height: 100%;
        -webkit-perspective: 3200px;
        -moz-perspective: 3200px;
        -o-perspective: 3200px;
        perspective: 3200px; }
        section #main_content #slider #slider_container {
          transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -webkit-transform-origin: 50% 50%;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
          width: 100%;
          float: left;
          position: relative;
          height: 100%; }
          section #main_content #slider #slider_container div {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding: 2%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden; }
            section #main_content #slider #slider_container div img {
              width: 100%; }
          section #main_content #slider #slider_container #selected_work2 {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg); }
    section #main_content_footer {
      width: 100%;
      float: left;
      height: 9%;
      background: url(../imgs/footer-brdr-top.png) repeat-x #3e3e3e;
      border: 1px #3e3e3e solid;
      font-family: "Noto Sans", sans-serif; }
      section #main_content_footer div.name {
        color: white;
        height: 9%;
        float: left;
        width: 49%; }
        section #main_content_footer div.name img {
          width: 40px;
          float: left;
          margin-top: 10px;
          margin-right: 10px;
          margin-left: 10px; }
        section #main_content_footer div.name p {
          font-size: 16px;
          color: white;
          line-height: 60px;
          float: left;
          font-weight: bold; }
      section #main_content_footer div.links {
        width: 30%;
        float: right; }
        section #main_content_footer div.links img {
          width: 40px;
          float: right;
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 10px; }
        section #main_content_footer div.links p {
          font-size: 12px;
          color: white;
          float: right;
          line-height: 60px; }

  span.tweeter {
    color: #999;
    font-size: 12px;
    font-family: "Noto Sans", sans-serif; }

  img.tweetericon {
    text-align: left;
    height: 20px;
    vertical-align: text-bottom; }

  .aboutthisgradheader {
    color: #ccc;
    font-weight: bold;
    font-size: 24px;
    font-family: "Noto Sans", sans-serif; }

  .aboutthisgrad {
    color: #ccc;
    font-size: 15px;
    font-family: "Noto Sans", sans-serif;
    line-height: 22px;
    width: 95%; }

  .yearbook_sign_bg {
    background: url("../imgs/fabric_of_squares_gray.png"); } }
